training:
  model_name: "xlstm_lmd_512d_2048ctx_12b"
  
  batch_size: 1
  lr: 0.001
  lr_warmup_steps: "10%"
  lr_decay_until_steps: "auto"
  lr_decay_factor: 0.001
  weight_decay: 0.01
  
  amp_precision: float16
  weight_precision: float32
  enable_mixed_precision: true
  
  num_epochs: 20
  
  output_dir: "output/xlstm_lmd_512d_2048ctx_12b"
  save_every_step: 2000
  log_every_step: 50
  wandb_project: "lmd_remigen_xlstm"
  torch_compile: false

model:
  # vocab_size: 675
  embedding_dim: 512
  num_blocks: 12
  context_length: 2048
  
  slstm_at: [3, 6, 9]
  
  mlstm_block:
    mlstm:
      conv1d_kernel_size: 4
      qkv_proj_blocksize: 4    # ⬅️ ADDED
      num_heads: 4
  
  slstm_block:
    slstm:
      backend: "cuda"            # ⬅️ CRITICAL
      num_heads: 4
      conv1d_kernel_size: 4
      bias_init: "powerlaw_blockdependent"  # ⬅️ IMPORTANT
    feedforward:                 # ⬅️ ADDED
      proj_factor: 1.3
      act_fn: "gelu"

dataset:
  hugging_face_ids: []
  local_train: "/scratch1/e20-fyp-xlstm-music-generation/e20fyptemp1/fyp-musicgen/data/lmd_preprocessed/splits/train.txt"
  local_valid: "/scratch1/e20-fyp-xlstm-music-generation/e20fyptemp1/fyp-musicgen/data/lmd_preprocessed/splits/valid.txt"
  local_test: "/scratch1/e20-fyp-xlstm-music-generation/e20fyptemp1/fyp-musicgen/data/lmd_preprocessed/splits/test.txt"

tokenizer:
  type: "whitespace"
  fill_token: "[EOS]"